.header{
  margin-top: -6px;
  margin-left: -6px;
  margin-right: -6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-section{
  align-items: center;
  display: flex;
}
.Platina-pic{
  height: 30px;
  margin-left: 16PX;
  cursor: pointer;
}
.right-section {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.HOME-icon{
  height: 24px;
  margin-right: 40px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 17px;
}
.HOME-icon:hover{
  color: rgb(90, 75, 75);
}
.SERVICE-icon{
  height: 24px;
  margin-right: 40px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-decoration: none;

}
.SERVICE-icon:hover{
  color: rgb(0, 0, 0);
}
.BOOK-icon{
  height: 24px;
  margin-right: 40px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-decoration: none;
}
.BOOK-icon:hover{
  color: rgb(90, 75, 75);
}
